# data
Recipient/data/
Student/data/
Donor/videos
Teacher/videos
*.mp4
*.meta.json

# artifacts
mlruns/
*.pt
*.pth
policies/
pycdc/
.DS_Store

# notebooks
*.ipynb

# env
.env
.venv
venv/
__pycache__/
.ipynb_checkpoints/

# runs
Recipient/runs/
Student/runs/

